body {
  box-sizing: border-box;
  background-color: #23252c;
  font-family: Inter, sans-serif;
  color: #ffffff;
  margin: 0;
}

main {
  margin: 0 auto;
  text-align: center;
  background-color: #1a1b21;
  width: 320px;
}

.bioPic {
  width: 320px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 1rem 0 0.5rem 0;
}

.description {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #f3bf99;
  margin: 0 2rem;
}

.socialLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.socialLinks a {
  color: white;
  font-size: 1.5rem;
}

.socialLinks a:hover,
.socialLinks a:focus {
  color: #61dbfb;
  font-size: 1.5rem;
}

.interestsIntro {
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
}
.interests {
  padding-bottom: 1rem;
}

.interest {
  text-align: left;
  margin-left: 1rem;
}

.interest h1 {
  margin: 0;
}

.interest li {
  font-size: 13px;
  padding-right: 1rem;
}

.interest a {
  color: #61dbfb;
}
